ul {list-style: none;}

a {text-decoration: none;}

footer {width:100%; height:auto; background-color:#111; color:white;}

.footer {padding:40px 40px 0; margin:0 40px; }

.footer_up {display:flex; justify-content: space-between; padding:0 0 20px 0; border-bottom:1px solid rgba(255, 255, 255, 0.2);}

.footer_up_left {display:flex;}

.footer_menu_ul_1, .footer_menu_ul_2, .footer_menu_ul_3 {width:258px; padding:0 8px;}

.footer_menu_ul_1 a {font-family:'Nike TG'; font-size:14px; line-height:2.3; font-weight:200; color:white; letter-spacing:0.5px;}

.footer_menu_ul_2 li:nth-of-type(1) a {font-family:'Nike TG'; font-size:14px; line-height:2; font-weight:200; color:white; letter-spacing:0.5px;}
.footer_menu_ul_3 li:nth-of-type(1) a {font-family:'Nike TG'; font-size:14px; line-height:2; font-weight:200; color:white; letter-spacing:0.5px;}

.footer_menu_ul_2 a {font-family:'noto sans KR'; font-size:12px; line-height:2; font-weight:400; color:rgb(126,126,126);}

.footer_menu_ul_2 a:hover {color:white;}

.footer_menu_ul_3 a {font-family:'noto sans KR'; font-size:12px; line-height:2; font-weight:400; color:rgb(126,126,126);}

.footer_menu_ul_3 a:hover {color:white;}


.footer_up_right {display:flex; justify-content: flex-end;}

.footer_up_right a {width:100%; margin:0 8px;}

.footer_up_right a svg:hover {fill:white;}


.footer_down {display:flex; justify-content: space-between; padding:10px 0;}

.footer_down_left {display:flex; margin:10px 25px 7px 10px;}

.footer_down_right {display:flex; justify-content: flex-end;  margin:10px 25px 7px 10px;}

.footer_down_left p:nth-child(2) {font-family:'noto sans KR'; font-size:10px; line-height:1.6; margin:0 25px 0 10px;}

.footer_down_left p:nth-child(3){font-family:'noto sans KR'; font-size:10px; line-height:1.6; color:#7e7e7e;}

.footer_down_right a {font-family:'noto sans KR'; font-size:10px; line-height:1.6; color:#7e7e7e; margin:0 10px;}